environment:
  matrix:
    # node.js
    - nodejs_version: "4"
    - nodejs_version: "6"

platform:
  - x86
  - x64

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install

# Post-install test scripts.
test_script:
  - node --version && npm --version
  - npm test

# Don't actually build.
build: off